In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import accuracy_score

In [3]:
df=pd.read_csv('train.csv')[['Age','Fare','Pclass','Survived']]

In [4]:
df.head()

    Age     Fare  Pclass  Survived
0  22.0   7.2500       3         0
1  38.0  71.2833       1         1
2  26.0   7.9250       3         1
3  35.0  53.1000       1         1
4  35.0   8.0500       3         0

In [6]:
x=df.drop(columns='Survived')
y=df['Survived']

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [8]:
x_train.head()

      Age     Fare  Pclass
30   40.0  27.7208       1
10    4.0  16.7000       3
873  47.0   9.0000       3
182   9.0  31.3875       3
876  20.0   9.8458       3

In [14]:
knn=KNNImputer(n_neighbors=3,weights='distance')
x_train_trf=knn.fit_transform(x_train)
x_test_trf=knn.transform(x_test)

In [15]:
pd.DataFrame(x_train_trf,columns=x_train.columns)

           Age      Fare  Pclass
0    40.000000   27.7208     1.0
1     4.000000   16.7000     3.0
2    47.000000    9.0000     3.0
3     9.000000   31.3875     3.0
4    20.000000    9.8458     3.0
..         ...       ...     ...
707  30.000000    8.6625     3.0
708  26.959410    8.7125     3.0
709  71.000000   49.5042     1.0
710  32.666667  221.7792     1.0
711  49.762895   25.9250     1.0

[712 rows x 3 columns]

In [16]:
lr=LogisticRegression()
lr.fit(x_train_trf,y_train)
y_pred=lr.predict(x_test_trf)
accuracy_score(y_test,y_pred)

0.7039106145251397

In [20]:
#comparison with simple imputer-->mean
si=SimpleImputer()

x_train_trf2=si.fit_transform(x_train)
x_test_trf2=si.transform(x_test)

In [22]:
lr=LogisticRegression()
lr.fit(x_train_trf2,y_train)
lr.predict(x_test_trf2)
accuracy_score(y_test,y_pred)

0.7039106145251397